files:
  "/etc/cron.hourly/duckdns":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      if [ -n "$DUCK_TOKEN" ]; then
        PUBLIC_IP=$(curl -fsS http://checkip.amazonaws.com)
        curl -fsS "https://www.duckdns.org/update?domains=omni-draft&token=${DUCK_TOKEN}&ip=${PUBLIC_IP}" > /dev/null 2>&1
      fi
